<!DOCTYPE html>
<html>
  <head>
    <title>AirportBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header>
	  <%= yield :header %>
	</header>
	<content>
		<% unless flash.empty? %>
			<%= render 'layouts/flash' %>
		<% end %>
      <%= yield %>
    </content>
  </body>
</html>
